.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: #fff;
  color: var(--white-900);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(.8);
  }
}
