@import '../../styles/globalClasses';

.headerContainer {
  width: 100%;
  height: 70px;

  background: var(--gray-500);
  border-bottom: 1px solid var(--gray-300);
}

.headerContent {
  width: 100%;
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 0 !important;
  cursor: pointer;

  display: flex;
  justify-content: space-between;

  a {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.headerNav {
  height: 100%;

  ul {
    height: 100%;

    display: flex;

    li {
      height: 100%;

      list-style: none;

      a {
        height: 100%;

        display: flex;
        align-items: center;

        padding: 0 15px;

        transition: color .2s;

        &.active {
          position: relative;
          @extend .titleStyle;

          &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 3px;

            border-radius: 3px 3px 0 0;
            background-color: var(--orange-900);
          }
        }

        &:hover {
          color: var(--white-900);
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .headerNav {
    ul {
      li {
        a {
          padding: 0 8px;
        }
      }
    }
  }
}
